img {
  width: 100px;
  border-radius: 10px;
}

.form-margin {
  margin-bottom: 12px;
}

.cart-item {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.cart-item-details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: left;
  margin-left: 80px;
}

.number-input {
  width: 80px;
  text-align: center;
}

.cart-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 64px;
}

.cart-panel {
  margin-left: 50px;
  margin-right: 50px;
}

.empty-cart-message {
  display: flex;
  justify-content: center;
  margin-top: 64px;
}

.error-message {
  color: #e74c3c;
  display: block;
  margin-top: 5px;
  font-size: 0.85rem;
  font-weight: 500;
}

.form-control.ng-invalid.ng-touched {
  border-color: #e74c3c;
  box-shadow: 0 0 5px rgba(231, 76, 60, 0.3);
}

.form-control.ng-valid.ng-touched {
  border-color: #27ae60;
}