<div class="product-card">
  <a [routerLink]="['/product', product.id]">
    <img [src]="product.url" [alt]="product.name" class="product-image">
  </a>
  
  <div class="product-info">
    <h3>
      <a [routerLink]="['/product', product.id]">{{ product.name }}</a>
    </h3>
    <p class="product-price">{{ product.price | currency:'USD':'symbol':'1.2-2' }}</p>
    
    <div class="product-actions">
      <select 
        [(ngModel)]="selectedQuantity" 
        (ngModelChange)="onQuantityChange($event)"
        class="quantity-select">
        <option *ngFor="let num of [1,2,3,4,5,6,7,8,9,10]" [value]="num">{{ num }}</option>
      </select>
      
      <button (click)="addToCart()" class="btn-add-to-cart">
        Add to Cart
      </button>
    </div>
  </div>
</div>